.shchypakin__cv{
    width: 392px;
    border-top: 4px solid #101214;
    margin: 20px auto;
    padding: 48px;
    border-radius: 6px;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.title{
    width: 263px;
}

.title__name{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101214;
}

.title__position{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #101214;
}

.avatar {
    width: 110px;
}

.avatar__margin-bottom {
    margin-bottom: 10px;
}

.xp{
    width: 263px;  
}

.experience__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

.experience__item-margin {
    margin-bottom: 14px;
}

.experience__position {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    color: #101214;
}

.experience__enterprise {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #101214;
}

.experience__period {
    font-family: Inter;
    font-style: normal;
    font-weight: medium;
    font-size: 7px;
    line-height: 14px;
    color: #73808D;
}

.experience__info {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #101214;
}

.education__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

.education__item-margin {
    margin-bottom: 14px;
}

.education__enterprise {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #101214;
}

.education__period {
    font-family: Inter;
    font-style: normal;
    font-weight: medium;
    font-size: 7px;
    line-height: 14px;
    color: #73808D;
}

.infos{
    width: 110px;
}

.contacts__margin-bottom {
    margin-bottom: 15px;
}

.contacts__email {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.contacts__phone {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.contacts__city {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.industry__margin-bottom {
    margin-bottom: 15px;
}

.industry__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.industry__item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.tools__margin-bottom {
    margin-bottom: 15px;
}

.tools__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.tools__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.languages__margin-bottom {
    margin-bottom: 15px;
}

.languages__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.languages__item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}

.social__item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    color: #73808D;
}
